<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/main.css}">
<style>
	header {
		text-align: center;
	}
	section {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
</style>
</head>
<body>
	<header>
		<h1>로그인</h1>
	</header>
	<section>
		<!--
			th:href
			th:action
			이 속성들은 contextPath(rootPath)를 자동으로 지정해주는 URL을 생성한다
		-->
		<form th:action="@{login}" method="POST">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div>
				<label for="username">USER NAME</label>
				<input id="username" name="username">
			</div>
			<div>
				<label for="password">PASSWORD</label>
				<input id="password" name="password" type="password">
			</div>
			<div>
				<button>LOG IN</button>
			</div>
		</form>
	</section>
</body>
</html>